<a href="https://colab.research.google.com/github/manoj7pal/Google-Colab-Notebooks/blob/master/Python_for_Data_Sciene_and_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Udemy: Python for Data Sciene and Machine Learning**

### **1. String Functions**

In [0]:
# String Formatting
age = 28
name = 'Manoj'

In [12]:
print("My name is {}. I am {} years old.". format(name, age))

My name is Manoj. I am 28 years old.

In [13]:
print("My name is {one}. I am {two} years old. Key = {one}:{two}".format(two=28,one='Manoj'))

My name is Manoj. I am 28 years old. Key = Manoj:28

In [14]:
# Indexing

s = 'SAFRIN MANOJ PAL'
s[0]

'S'

In [15]:
s[3]

'R'

In [36]:
#Slicing

print(s[0:])
print(s[0:6])
print(s[7:12])
print(s[13:])
print(s[-3:])

print('Reverse: '+ s[::-1])

SAFRIN MANOJ PAL
SAFRIN
MANOJ
PAL
PAL
Reverse: LAP JONAM NIRFAS

###**2. List**

In [49]:
a= [1,2,3,4,5]

print(a[0])
print(a[0:3])
print(a + [6,7,8,9,10])

1
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
#Append enforces persistence to list addition.

a.append('6')
print(a)

[1, 2, 3, 4, 5, '6', '6']

In [0]:
#List is a mutable object i.e u can modify/update a list elements

In [52]:
a =[10,21,30,40,50]
print(a[1])

21

In [86]:
a[1]=20
print(a[1])
print(a)

20
['One', 20, 'Three']

In [88]:
het_list = ['One', 1, True,[5,6,7] ]
print(het_list)

['One', 1, True, [5, 6, 7]]

###**3. Dictionary**

In [66]:
# Declaration

my_dict = {1: 'One', 2: 'Two', 3: 'Three'}
print(my_dict)

{1: 'One', 2: 'Two', 3: 'Three'}

In [67]:
# Accessing value of dictionary : By Passing a key

print(my_dict[1])

'One'

In [70]:
# Checking existence of specific key or values in the dictionary

print(1 in my_dict)
print(2 in my_dict.keys())
print('One' in my_dict.values())

True
True
True

In [57]:
my_dict.keys()

dict_keys([1, 2, 3])

In [64]:
print(my_dict.values())
print(type(my_dict.values()))

dict_values(['One', 'Two', 'Three'])
<class 'dict_values'>

In [71]:
a = list(my_dict.values())
print(a[0])

One

###**4. Tuple**

In [77]:
tup = (1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

In [80]:
#Accessing

print(tup[0])
print(tup[-2])

1
4

In [82]:
#Slicing

print(tup[:3])

(1, 2, 3)

In [85]:
type(sorted(tup))

list

In [90]:
#Tuple is Immutable, while list is Mutable

my_list = [1,2,3,4,5]
print(my_list)
my_list[0] = 0
print(my_list)

tup[0] = 0

TypeError: ignored